
.dropzone .dz-preview .dz-progress {
    height: 10px !important;
    top: 85% !important;
  }
  
.dropzone {
border-style: dashed !important;
}
  
.rounded-button {
  top: -15% !important;
  left: 85%;
  margin-top: 5px;
  cursor: pointer !important;
  background-color: red;
  border: none;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
}

.subtitulo-sup {
  font-size: 10px;
}

.float-end {
  text-align: right !important;
}

.details-teams {
  display: none;
}

.iq-navbar .dropdown .dropdown-menu.sub-drop .list-group-item.active a {
  color: #fff;
}

.activitySelect {
  cursor: pointer;
}

.activitySelect:hover {
  background-color: rgba(86, 148, 172, 0.408);
  color: #fff;
}

.head {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  text-align: center;
}

.row-body {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.dropdown-item {
  cursor: pointer;
}